{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Personal gallery - {{title}}</title>
  {% else %}
    <title> Personal gallery </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
  {% endblock %}

</head>
<body>
    {% include "navbar.html" %}  
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}


    <div class="container">
        <h1 class="text-center">welcome to Gallery</h1>
      <div class="row">
        <div class="col-md-4">
          {% for image_item in images %}
              <h2> {{ image_item.name }} </h2>
                <img style=" margin-top: 20px; margin-bottom: 20px; width:350px; height:300px;"src="{{image_item.image.url}}" class="img-responsive" alt="Image">
            
          {% empty %}
            <h2 class="text-center">There No image Items</h2>
          
          {% endfor %}
        </div>  
      </div>

      <!-- <div class="modal fade bd-example-modal-lg" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="imageTitle" aria-hidden="true">
          <div style="max-width:70%; max-height:50%; padding-top:100px;" class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="imageTitle">{{image.image_name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="{{image.image.url}}" class="img-fluid" alt="Image">
                <br>
                {{image.image_description}}
              </div>
              <div class="modal-footer">
                <input class="form-control input-lg" type="text"  value="https://gallery-django.herokuapp.com{{image.image.url}}" id="{{image.id}}-url" >
                <button class="btn btn-outline-info" onclick="copyUrl('{{image.id}}-url')">Copy Image Url</button>
              </div>
            </div>
          </div>
        </div> -->
    </div>
</body>
</html>